.header {
  grid-column: center-start 1 / center-end 3;
  grid-row: header-start / header-end;

  display: grid;
  grid-template-columns: 1.5fr 1fr;
  column-gap: 2rem;
}

.text-section {
    grid-column: 1 / span 1;
    line-height: 1.2;

    display: grid;
    row-gap: 2rem;
}

.avatar-section {
    grid-column: 2 / span 2;
}
