.header-1 {
    font-size: 8rem;
    letter-spacing: 5px;

    @media screen and (max-width: 1337px) {
        font-size: 5rem;
    }
}

.header-3 {
    font-size: 3rem;
    letter-spacing: 2px;

    @media screen and (max-width: 1337px) {
        font-size: 3rem;
    }
}

p {
    font-size: 2rem;
    word-spacing: 3px;
}
